<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Wellington, New Zealand</p>
        <ul class="list-inline">
          <li>
            <a href="mailto:contact@Liberac.co.nz" target="_blank" rel="noopener noreferrer"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="footer-menu-divider"></li>
          <li>
            <a href="https://www.facebook.com/LiberacLtd/" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="footer-menu-divider"></li>
          <li>
            <a href="https://twitter.com/liberac_ltd" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="footer-menu-divider"></li>
          <li>
            <a href="https://www.linkedin.com/company-beta/17943247/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="footer-menu-divider"></li>
          <li>
            <a href="https://www.instagram.com/liberac_ltd/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
          </li>
        </ul>
        <hr style="width: 70%; border-top: 1px solid rgba(255, 255, 255, 0.25);">
        <p class="copyright text-muted small">
          <a href="policy"> Privacy policy</a>
        </p>
        <p class="copyright text-muted small">Copyright &copy; Liberac 2017. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>