<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!--<button type="button" class="navbar-toggle hidden-md" data-toggle="collapse" data-target="#mobileNav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>-->
      <a class="navbar-brand topnav" href="/dashboard"><img src="/img/liberacbeta.jpg" alt="Liberac Logo"></a>
    </div>
    <!--<div class="collapse navbar-collapse hidden-md" id="mobileNav">
      <ul class="nav navbar-nav navbar-right hidden-md">
        <li role="presentation">
          <a href="/dashboard"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li role="presentation">
          <a href="/contacts"><i class="fa fa-users" aria-hidden="true"></i> Contacts</a>
        </li>
        <li role="presentation">
          <a href="/send"><i class="fa fa-heart" aria-hidden="true"></i> Send Money</a>
        </li>
        <li role="presentation">
          <a href="/compare"><i class="fa fa-exchange" aria-hidden="true"></i> Compare</a>
        </li>
      </ul>
    </div>-->
  </div>
</nav>