<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle hidden-xs" data-toggle="collapse" data-target="#mobileNav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand topnav" href="#">Liberac Logo Here</a> -->
            <a class="navbar-brand topnav" href="/dashboard"><img src="/img/liberacbeta.jpg" alt="Liberac Logo"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse hidden-xs" id="mobileNav">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="mailto:contact@Liberac.co.nz" target="_blank" rel="noopener noreferrer"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/LiberacLtd/" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/liberac_ltd" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/liberac_ltd/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>