<ul class="nav nav-tabs"> 
  <li role="presentation" class="active">
    <a href="/dashboard"><i class="fa fa-home" aria-hidden="true"></i></i> Home</a>
  </li>
  <li role="presentation">
    <a href="/contacts"><i class="fa fa-users" aria-hidden="true"></i> Contacts</a>
  </li>
  <li role="presentation">
    <a href="/send"><i class="fa fa-heart" aria-hidden="true"></i> Send Money</a>
  </li>
  <li role="presentation">
    <a href="/compare"><i class="fa fa-exchange" aria-hidden="true"></i></i> Compare</a>
  </li>
  <li role="presentation">
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: transparent;">
      Profile <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">My Details</a></li>
      <li><a href="#">Account &amp; Billing</a></li>
      <li><a href="#">Payment Settings</a></li>
      <li><a href="#">Referral</a></li>
      <li><a href="/agents">Become an Agent</a></li>
      <li><a href="/logout">Sign Out</a></li>
    </ul>
  </li>
  {{!--<li role="presentation">
    <a href="/topup"><i class="fa fa-money" aria-hidden="true"></i> Top Up</a>
  </li>--}}
</ul>