<ul class="nav nav-pills"> 
  <li role="presentation">
    <a href="/dashboard"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
  </li>
  <li role="presentation">
    <a href="/contacts"><i class="fa fa-users" aria-hidden="true"></i> Contacts</a>
  </li>
  <li role="presentation">
    <a href="/send"><i class="fa fa-heart" aria-hidden="true"></i> Send Money</a>
  </li>
  <li role="presentation">
    <a href="/compare"><i class="fa fa-exchange" aria-hidden="true"></i> Compare</a>
  </li>
  <li role="presentation" class="dropdown">
    
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-user" aria-hidden="true"></i> Profile <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/comingsoon">My Details</a></li>
      <li><a href="/comingsoon">Account &amp; Billing</a></li>
      <li><a href="/comingsoon">Payment Settings</a></li>
      <li><a href="/comingsoon">Referral</a></li>
      <li><a href="/agents">Become an Agent</a></li>
      <li><a href="/logout">Sign Out</a></li>
    </ul>
  </li>
</ul>