<div class="content-section-c">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{>navigation}}
          <div class="row">
            <div class="col-lg-12"><h2>Becoming an Agent</h2></div>
          </div>
          <div class="well">
            <p>Dear {{first_name}},</p>
            <p>We appreciate your interest in becoming an Agent for Liberac.</p>
            <p>Liberac is a family which is built for supporting money transfers to our communities back home.</p>

            <p>Our agents are at the heart of how we support our people and so we expect lots from you.</p>

            <p>Our agents are often: </p>
            <ul>
              <li>Churches</li>
              <li>Community Groups</li>
              <li>Dairies</li>
              <li>Small businesses</li>
              <li>Community minded individuals</li>
              <li>Leaders</li>
            </ul>

            <p>We accept all applications for people to become agents but we hand pick our agents to make sure they are wanting to be an agent for the right reason.</p>

            <p>Our Agents do three key jobs in our communities: </p>
            <ul>
              <li>Support our customers with the sign ups and account creation.</li>
              <li>Support and solve problems with using Liberac.</li>
              <li>Help with uploading identification documents and bank accounts.</li>
            </ul>


            <p>Our Agents are the face of Liberac in the community so we make sure you and your organization is well known and we add you to the Liberac Family page under agents.</p>

            <p>Every transaction that is made on the Liberac Platform has a 0.5% up to $1 reserved for the community and agents. So, for our customers that do not have an agent that $1 is donated to a project in the Pacific Islands of our choice or public vote. For customers with agents that amount is added to the agent’s funds. You may choose to do so whatever you like with that amount often Leaders in Church’s that are agents donate it to church’s others use it to help more people benefit using Liberac. It’s up to you what you want to do with it.</p>

            <p>What’s important to note is that $1 or 0.5% is added to your funds every time a customer sends money for the lifetime of that customer so this can add up to be lots of money over time.</p>

            <p>If you would like to become an agent click Apply Now below and we will be in touch.</p>

            <a>Apply Now</a>
          </div>
      </div>
    </div>
  </div>
</div>
