<div class="content-section-c">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h4 style="margin-top: 120px;">We are currently building this page and will be functional soon. -Team Liberac</h4>    
        <p><a class="btn btn-danger btn-md" href="/dashboard" role="button">Click here to go back to the dashboard</a></p>
      </div>
    </div>
  </div>
</div>