<div class="content-section-c">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{>navigation}}
        <h4>Welcome {{user.first_name}}! Your current balance is ${{user.balance}}.</h4>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Receiver Details
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <form>
                  <label for="receiver_name" class="requiredField">Receiver Name</label>
                  <input type="text" name="receiver_name" required class="form-control" id="receiver_name" placeholder="Jamie Smith">
                  <br>
                  <label for="bank_account" class="requiredField">Bank Account Details</label>
                  <input type="text" name="bank_account" required class="form-control" id="bank_account" placeholder="12-3456-1234567-000">
                  <br>
                  <button type="submit" class="btn btn-success" role="button">Confirm</button>
                </form>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Amount to Send
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
              <div class="form-group">
                <label for="amount_to_send" class="requiredField">Send Amount</label>
                <input type="text" name="amount_to_send" required class="form-control" id="amount_to_send" placeholder="Jamie Smith">
              </div>
              <div class="form-group">
                <script src="https://checkout.stripe.com/checkout.js"></script>
                <div id="error_explanation"></div>
                <button class="btn btn-success" id="paymentButton" role="button">Purchase</button>
              </div>

                <script>
                var handler = StripeCheckout.configure({
                  key: 'pk_test_TltGDaGUDuxznboucS0lI2z6',
                  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
                  name: 'Liberac Ltd',
                  currency: 'nzd',
                  panelLabel: 'Send',
                  email: 'marcus@thingsima.de',
                  allowRememberMe: true,
                  description: 'Send funds to USER',
                  locale: 'auto',
                  zipCode: true,
                  token: function(token) {
                    fetch("/charge", {
                      method: 'POST',
                      headers: { "Content-Type": "application/json" },
                      body: JSON.stringify({ stripe: token, receiver: $('#receiver_name').val(), account: $('#bank_account').val() })
                    })
                    .then((output) => {
                      if (output.status === "succeeded") {
                        console.log('Purchase succeeded')
                        console.log(output)
                      }
                    })
                    .catch((err) => {
                      console.error('Purchase failed')
                      console.error(err)
                    })
                  }
                })

                $('#paymentButton').on('click', function(e) {
                  e.preventDefault()

                  $('#error_explanation').html('')

                  var amount = $('input#amount_to_send').val()

                  amount = amount.replace(/\$/g, '').replace(/\,/g, '')
                  amount = parseFloat(amount)

                  if (isNaN(amount)) {
                    $('#error_explanation').html('<p>Please go back and enter an amount to send.</p>');
                  }
                  else {
                    amount = amount * 100; // Needs to be an integer!
                    handler.open({
                      amount: Math.round(amount)
                    })
                  }
                })

                window.addEventListener('popstate', function() {
                  handler.close()
                })
                </script>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Receipt
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                <p>Receipt goes here</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
