<div class="content-section-c">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{>navigation}}
        <h2>Welcome {{user.first_name}}! Your current balance is ${{user.balance}}.</h2>
        {{#unless user.verified}}
        <div class="alert alert-warning" role="alert">Before we can get started, we'll need you to provide some identification for regulatory purposes. <a href="/upload">Click here</a> to get started.</div>
        {{/unless}}
        <div class="well">


          <div class="row">
            <div class="col-lg-12"><h3>Dashboard</h3></div>
          </div>
          <div class="row">
            <img src="/img/dashboard.png" style="width: 100%;">
          </div>
      </div>
    </div>
  </div>
</div>
