<div class="content-section-c">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>{{error}}</h1>
        <p>Sorry, it looks like <code>{{message}}</code> doesn't exist.</p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">Click here to go back home</a></p>
      </div>
    </div>
  </div>
</div>