<form action="/fileupload" method="POST" enctype="multipart/form-data">
  <label for="passport">Passport:</label>
  <input type="file" name="passport" required>
  <br />
  <label for="addressproof">Proof of Address:</label>
  <input type="file" name="addressproof" required>
  <br />
  <input type="hidden" name="userid" value="{{id}}">
  <input type="submit" value="Upload">
</form>