{{> navbar }}
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Hi {{name}}, please upload your passport and address proof</p>
        <form action="/fileupload" method="POST" enctype="multipart/form-data">
          <label for="passport">Passport:</label>
          <input type="file" name="passport" required>
          <br />
          <label for="addressproof">Proof of Address:</label>
          <input type="file" name="addressproof" required>
          <br />
          <input type="hidden" name="userid" value="{{id}}">
          <input type="submit" value="Upload">
        </form>
      </div>
    </div>
  </div>
</div>
{{> footer }}