<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Liberac">

    <title>Liberac</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    {{>headscripts}}
  </head>
  <body>
    <noscript>
     <img height="1" width="1" src="https://www.facebook.com/tr?id=1445550735519541&ev=PageView&noscript=1"/>
    </noscript>

    {{>header}}
    {{{body}}}
    {{>footer}}

    <script src="/js/bootstrap.min.js"></script>
    
    {{#if indexjs}}
    <script src="/js/register-interest.js"></script>
    {{/if}}

    {{#if comparejs}}
    <script src="/js/comparison-slider.js"></script>
    {{/if}}

    {{#if stripejs}}
    <script src="/js/stripe.js"></script>
    {{/if}}
  </body>
</html>