{{! TODO: Verify users password by requiring password twice }}
{{> navbar }}
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Hey {{first_name}}</h1>
        <p>You still need to provide us with some proof of ID before you can start sending money</p>
        <a href="/upload">Click here</a> to send us your ID
      </div>
    </div>
  </div>
</div>
{{> footer }}