<div id="loginPage" class="content-section-c">
  <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="well">
            <form action="/login" method="POST">
              <div class="form-group">
                <label for="username" class="requiredField">Email</label>
                <input type="text" class="form-control" name="username" id="username" required>
              </div>
              <div class="form-group">
                <label for="password" class="requiredField">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
              </div>
              {{#if message}}
              {{!--<p id="login-error">{{message}}</p>--}}
              <span id="login-error" class="help-block text-center redText">{{message}}</span>
              {{/if}}
              {{!--<span class="help-block small redText">* Required field</span>--}}
              <button type="submit" class="btn btn-danger btn-block btn-lg" id="login">Log in</button>
            </form>
          </div>
        </div>
        <div class="col-lg-5">
            <h3 style="margin-top:0;">Come ride with Liberac and jump aboard our beta. Register Now!</h3>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-check"></i>Secure Service</li>
              <li><i class="fa-li fa fa-check"></i>Fixed Fees</li>
              <li><i class="fa-li fa fa-check"></i>Deliver to door</li>
              <li><i class="fa-li fa fa-check"></i>Bank to Bank</li>
              <li><i class="fa-li fa fa-check"></i>No Hidden Fees</li>
            </ul>
            <a href="register" class="btn btn-danger btn-lg">Register</a>
      </div>
    </div>
  </div>
</div>
