{{! TODO: Remove preset login details }}
{{> navbar }}
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <form action="/login" method="POST">
          <label for="username">Username:</label>
          <input type="text" name="username" required>
          <br />
          <label for="password">Password:</label>
          <input type="password" name="password" required>
          <br />
          <input type="submit" value="Log In">
        </form>
      </div>
    </div>
  </div>
</div>
{{> footer }}