{{! TODO: Remove preset login details }}

<form action="/login" method="POST">
  <label for="username">Username:</label>
  <input type="text" name="username" value="samuel1234" required>
  <br />
  <label for="password">Password:</label>
  <input type="password" name="password" value="samuel1234" required>
  <br />
  <input type="submit" value="Log In">
</form>