<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="/dashboard">Home</a></li>
          <li role="presentation" class="active"><a href="/payees">View Payees</a></li>
          <li role="presentation"><a href="/send">Send Money</a></li>
          <li role="presentation"><a href="/topup">Top Up</a></li>
        </ul>
        <h1>Welcome {{name}}.</h1>
        {{#if payees}}
        <form action="/payees/edit/" method="POST">
          <select class="form-control" name="payees" onchange="this.form.submit()">
          {{#each payees}}
            <option value="/payees/edit/{{this.nickname}}">{{this.nickname}}</option>
          {{/each}}
          </select>
          <button type="submit" class="btn btn-default">Edit Payee</button>
        </form>
        {{else}}
          <p>Would you like to add your first payee?</p>
        {{/if}}
        <p><a class="btn btn-primary" href="/payees/add" role="button">Add Payee</a></p>
      </div>
    </div>
  </div>
</div>