<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="/dashboard">Home</a></li>
          <li role="presentation" class="active"><a href="/payees">View Payees</a></li>
          <li role="presentation"><a href="/send">Send Money</a></li>
          <li role="presentation"><a href="/topup">Top Up</a></li>
        </ul>
        <h1>Welcome {{name}}.</h1>
        {{#if payees}}
          {{#each payees}}
            <p>Nickname: {{this.nickname}}</p>
          {{/each}}
        {{else}}
          <p>Would you like to add your first payee?</p>
        {{/if}}
        <p><a class="btn btn-primary btn-lg" href="/payees/add" role="button">Add Payee</a></p>
      </div>
    </div>
  </div>
</div>