<!-- Page Content -->
  <div id="privacyPolicy" class="content-section-a">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h2>Privacy Policy</h2>

              <h3>Introduction</h3>
              <p><strong>Liberac Limited (<b>we, us, our</b>)</strong> complies with the New Zealand Privacy Act 1993 (the <b>Act</b>) when dealing with personal information.  Personal information is information about an identifiable individual (a natural person).<br><br>This policy sets out how we will collect, use, disclose and protect your personal information.<br><br>policy does not limit or exclude any of your rights under the Act.  If you wish to seek further information on the Act, see <a href="http://www.privacy.org.nz/" target="_blank" class="redLink">www.privacy.org.nz</a>.<br><br></p>

              <h3>Changes To This Policy</h3>
              <p>We may change this policy by uploading a revised policy onto the website.  The change will apply from the date that we upload the revised policy.<br><br></p>

              <h3>Who Do We Collect Your Personal Information From</h3>
              <p>We collect personal information about you from:</p>

              <ul>
                  <li>you, when you provide that personal information to us, including via the website and any related service, through any registration or subscription process, through any contact with us (e.g. telephone call or email), or when you buy or use our services and products</li>
                  <li>third parties where you have authorised this or the information is publicly available. </li>
              </ul>
              <p>If possible, we will collect personal information from you directly.<br><br></p>

              <h3>How We Use Your Personal Information</h3>
              <p>We will use your personal information: [to verify your identity</p>
              <ul>
                  <li>to provide services and products to you</li>
                  <li>to market our services and products to you, including contacting you electronically (e.g. by text or email for this purpose)</li>
                  <li>to improve the services and products that we provide to you</li>
                  <li>to undertake credit checks of you (if necessary)</li>
                  <li>to bill you and to collect money that you owe us, including authorising and processing credit card transactions</li>
                  <li>to respond to communications from you, including a complaint</li>
                  <li>to conduct research and statistical analysis (on an anonymised basis)</li>
                  <li>to protect and/or enforce our legal rights and interests, including defending any claim</li>
                  <li>for any other purpose authorised by you or the Act.</li>
              </ul>

              <h3>Disclosing Your Personal Information</h3>
              <p>We may disclose your personal information to: another company within our group</p>
              <ul>
                  <li>any business that supports our services and products, including any person that hosts or maintains any underlying IT system or data centre that we use to provide the website or other services and products</li>
                  <li>a credit reference agency for the purpose of credit checking you</li>
                  <li>other third parties (for anonymised statistical information)</li>
                  <li>a person who can require us to supply your personal information (e.g. a regulatory authority)</li>
                  <li>any other person authorised by the Act or another law (e.g. a law enforcement agency)</li>
                  <li>any other person authorised by you.</li>
              </ul>
              <p>A business that supports our services and products may be located outside New Zealand.  This may mean your personal information is held and processed outside New Zealand.<br><br></p>

              <h3>Protecting Your Personal Information</h3>
              <p>We will take reasonable steps to keep your personal information safe from loss, unauthorised activity, or other misuse.<br><br></p>

              <h3>Accessing And Correcting Your Personal Information</h3>
              <p>Subject to certain grounds for refusal set out in the Act, you have the right to access your readily retrievable personal information that we hold and to request a correction to your personal information.  Before you exercise this right, we will need evidence to confirm that you are the individual to whom the personal information relates.<br><br>In respect of a request for correction, if we think the correction is reasonable and we are reasonably able to change the personal information, we will make the correction.  If we do not make the correction, we will take reasonable steps to note on the personal information that you requested the correction.<br><br>If you want to exercise either of the above rights, email us at [insert email address].  Your email should provide evidence of who you are and set out the details of your request (e.g. the personal information, or the correction, that you are requesting).<br><br>We may charge you our reasonable costs of providing to you copies of your personal information or correcting that information.<br><br></p>

              <h3>Internet Use</h3>
              <p>While we take reasonable steps to maintain secure internet connections, if you provide us with personal information over the internet, the provision of that information is at your own risk.<br><br>[If you post your personal information on the website’s [message board/ chat room], you acknowledge and agree that the information you post is publicly available.]<br><br>If you follow a link on our website to another site, the owner of that site will have its own privacy policy relating to your personal information.  We suggest you review that site’s privacy policy before you provide personal information.<br><br>[We use cookies (an alphanumeric identifier that we transfer to your computer’s hard drive so that we can recognise your browser) to monitor your use of the website.  You may disable cookies by changing the settings on your browser, although this may mean that you cannot use all of the features of the website.</p>
          </div>
      </div>
  </div>
  <!-- /.container -->
  </div>
<!-- /.content-section-a -->