{{! TODO: Verify users password by requiring password twice }}
<form method="POST" action="/confirm" >
  <label for="first_name">Username</label>
  <input type="text" name="first_name" placeholder="user1234" value="user1234" required>
  <br />
  <label for="first_name">First Name</label>
  <input type="text" name="first_name" placeholder="Jamie" value="Jamie" required>
  <br />
  <label for="last_name">Last Name</label>
  <input type="text" name="last_name" placeholder="Human" value="Human" required>
  <br />
  <label for="phone">Phone Number</label>
  <input type="tel" name="phone" placeholder="0212345678" value="0212345678" required>
  <br />
  <label for="email">Email Address</label>
  <input type="email" name="email" placeholder="user@example.com" value="user@example.com" required>
  <br />
  <label for="address">Physical Address</label>
  <input type="text" name="address" placeholder="1234 Example Street, Suburb, City, 1234" value="1234 Example Street, Suburb, City, 1234" required>
  <br />
  <label for="agreement">Agree to T&apos;Cs</label>
  <input type="checkbox" name="agreement" required>
  <br />
  <input type="submit" value="Send to database"></input>
</form>