<div class="content-section-c">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{>navigation}}
        <h2>How would you like to pay for this transaction?</h2>
        <form method="POST" action="/send/process">
          <select class="form-control" name="payment" id="payment" required>
            <option value="account" selected>Account Balance (${{balance}})</option>
            <option value="debit" disabled>Debit Card</option>
            <option value="credit" disabled>Credit Card</option>
          </select>
          <br>
          <button type="submit" id="submit" class="btn btn-warning">Pay ${{total}} using Account Balance</button>
        </form>
      </div>
    </div>
  </div>
</div>
