<div class="content-section-c">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{>navigation}}
      </div>
      <div class="col-lg-12">
        <h2>Hi {{first_name}}!</h2>
        <div class="alert alert-warning">
          <p>Please upload your passport and address proof. <a href="/dashboard">Click here</a> to go back if you're not ready just yet</p>
        </div>

        <form action="/upload" method="POST" enctype="multipart/form-data">
          <div class="well">

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="passport_number">Passport Number</label>
                <input type="text" name="passport_number" required class="form-control">
              </div>    
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="passport">Passport Photo/Scan</label>
                <input type="file" name="passport" required>
              </div>      
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="passport_expiry">Passport Expiry Date</label>
                <input type="text" name="passport_expiry" placeholder="YYYY-MM-DD" required class="form-control">
              </div>    
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="addressproof">Proof of Address</label>
                <input type="file" name="addressproof" required>
              </div>    
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <input type="hidden" name="userid" value="{{id}}">
                <input type="submit" value="Upload" class="btn btn-danger">
              </div>
            </div>
          </div>
            
          </div>          
        </form>
      </div>
    </div>
  </div>
</div>